cachelib==0.4.1
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
importlib-metadata==4.9.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
redis==4.0.2
SQLAlchemy==1.4.28
typing-extensions==4.0.1
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.0
zipp==3.6.0
